.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}


.header:hover {
  font-weight: 700;
  cursor: pointer;
}

div>ol>li {
  padding: 5px;
  cursor: pointer;
  list-style-type:disc;
  font-weight: 700;
}

@keyframes button-move {
  0% {
    transform: translateY(15px);
  }

  100% {
    transform: translateY(5px);
  }
}

.button {
  padding: 5px;
  background-color: rgb(32, 27, 27);
  border-radius: 10px;
  transition: background-color 2s;
  border: 1px solid rgb(204, 48, 74);
  animation-name: button-move;
  animation-duration: 1s;
  animation-iteration-count: infinite;

}

.button:hover {
  background-color: lightslategray;
}

.button-text {
  font-size: small;
  color: white;
  font-weight: 600;
  padding: 5px;
}

.btn-box {
  text-align: center;
  margin-top: -40px;
  margin-bottom: 10px;


}

@keyframes font {
  0% {
    font-size: small;
  }

  50% {
    font-size: medium;
  }

  100% {
    font-size: large;
  }
}

.highlight {
  font-size: large;
  padding: 5px;
  font-weight: bold;
  animation-name: font;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  text-align: center;
}

@keyframes list {
  from {
    left: 5px;
  }

  to {
    left: 15px;
  }
}

.highlight-text {
  padding: 5px;
  position: relative;
  animation-name: list;
  animation-duration: 3s;
  animation-iteration-count: infinite;

}

.highlight-text>li {
  padding: 5px;
  list-style-type: lower-latin;
}

.highlight-text:hover {
  font-weight: bold;

}

.logo-img {
  width: 60px;
  padding-right: 3px;
  border-radius: 50%;

}

.logo-img:hover {
  opacity: 0.7;
}